<div class="searchBar">
    <div class="conatiner">
        <form action="/seacrh" class="search__form" role="search" method="POST">
            <input type="search" name="searchTerm" id="searchInput" aria-Label="Search" placeholder="Search the site..." />
        </form>
        <div class="searcClose">Close</div>
    </div>
</div>